<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>App Component!</h3>
      <!-- <input type="text" [(ngModel)]="name" />
      <p>{{ name }}</p> -->
      <hr />
      <!-- HTML element -->
      <app-servers></app-servers>
      <!-- HTML attribute -->
      <!-- <div app-servers></div> -->
      <!-- HTML class -->
      <!-- <div class="app-servers"></div> -->
      <hr />
      <app-user></app-user>
      <hr />
      <app-display-details></app-display-details>
    </div>
  </div>
</div>
